<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CarrentalSystem</servlet-name>
        <servlet-class>CarrentalSystem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginvalidation</servlet-name>
        <servlet-class>loginvalidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet1</servlet-name>
        <servlet-class>servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupvalidation</servlet-name>
        <servlet-class>signupvalidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadcar</servlet-name>
        <servlet-class>uploadcar.uploadcar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>booknpay</servlet-name>
        <servlet-class>booknpay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cngpwd</servlet-name>
        <servlet-class>cngpwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>details</servlet-name>
        <servlet-class>details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>details2</servlet-name>
        <servlet-class>details2.details2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>end</servlet-name>
        <servlet-class>end</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookedinfo</servlet-name>
        <servlet-class>bookedinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>success</servlet-name>
        <servlet-class>success</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookid</servlet-name>
        <servlet-class>bookid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarrentalSystem</servlet-name>
        <url-pattern>/CarrentalSystem</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>loginvalidation</servlet-name>
        <url-pattern>/loginvalidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet1</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupvalidation</servlet-name>
        <url-pattern>/signupvalidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadcar</servlet-name>
        <url-pattern>/uploadcar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booknpay</servlet-name>
        <url-pattern>/booknpay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cngpwd</servlet-name>
        <url-pattern>/cngpwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>details</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>details2</servlet-name>
        <url-pattern>/details2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>end</servlet-name>
        <url-pattern>/end</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookedinfo</servlet-name>
        <url-pattern>/bookedinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>success</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookid</servlet-name>
        <url-pattern>/bookid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet-name/>
</web-app>
